@import './geral.scss';

.alert-error.open {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.alert-error {
    position: absolute;
    background-color: $bg-error;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: #fff;
    padding: .8rem 0;
    font-weight: bold;

    visibility: hidden;
    opacity: 0;

    // transform: translateY(-30px);
    transition: transform .7s;
}