* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

// Cores
$tt-heading: #0C3440;
$ot-input: #02799D;
$bd-input: rgba(73, 80, 87, 0.3);
$tt-placeholder: rgba(73, 80, 87, 0.5);
$bg-input: #DCE2E9;
$tt-button: white;
$bg-button: #02799D;
$bg-button-hover: #01475c;
$bg-error: #F03E2E;
$tt-error: white;

// Função
@function rem($pixel, $context: 16) {
    @return $pixel / $context + rem;
}

// Geral
.title {
    font-size: rem(32);
    line-height: 4rem;
    color: $tt-heading;
}

.card {
    padding: rem(48) rem(64);
    max-width: 42.8rem;
    margin: 0 auto;
    background-color: #fff;

    box-shadow: 0 .2rem .4rem rgba(0, 0, 0, 0.1);
    border-radius: .6rem;
}

// Estilos gerais
body {
    background-color: #040924;
}

body, input, button {
    font-size: rem(16);
    line-height: 2rem;
}